{% extends 'foodrecipe.html' %}
{% block title %}
Recipe instructions
{% endblock %}
{% block head %}
<a href="{% url 'recipe_add' %}">add recipe</a>
{% endblock %}
{% block content %}
    <h3>{{ Name }} by {{ author }}</h3>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.ingredient }} - {{ ingredient.quantity }}</li>
        {% endfor %}
        {% if images %}
            {% for image in images %}
                <img src="{{ image.image.url }}" alt="{{ image.description }}">
            {% endfor %}
        {% else %}
            <p>no image</p>
        {% endif %}
    </ul>
{% endblock %}
