{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title></title>
        <header>
           <h2>Recipe Book || {% block title %}{% endblock %}</h2>
           {% if user.is_authenticated %}
           <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            {% endif %}
        </header>
    </head>
    <body>
        <div id ="recipe-list-information">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>